.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--text-primary);
    /* Dark Teal */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Speeded up transition for better feel with curve */
    transition: transform 1.2s cubic-bezier(0.7, 0, 0.3, 1), border-radius 1.2s cubic-bezier(0.7, 0, 0.3, 1);
    border-radius: 0 0 0 0;
}

.loader.loaded {
    transform: translateY(-100%);
    border-radius: 0 0 50% 50%;
}